* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.bottom-line {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    left: -50%;
    bottom: -50%;
    border-bottom: 1px solid #EBEDF0;
    transform: scale(0.5);
  }
}

.flex-1 {
  flex: 1;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-disabled {
  opacity: 0.5;
  pointer-events:none
}


.bottom-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 60px;
  height: 150px;
  background: #F7F8FA;
  z-index: 10;
  display: flex;
  align-items: flex-start;
}
.common-button {
  flex: 1;
  height: 90px;
  line-height: 90px;
  text-align: center;
  flex-shrink: 0;
  color: #FFFFFF;
  font-size: 32px;
  //background: linear-gradient(180deg, #148cfd 0%, #31b4e3 100%);
  background: linear-gradient(132deg, #148CFD 0%, #4FBBDA 100%);
  box-shadow: 0 2px 8px 0 rgba(31, 34, 58, 0.19);
  border-radius: 8px;
  box-sizing: border-box;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}
.common-button-plain {
  background: #FFFFFF;
  color: #646566;
  border: 1px solid #DCDEED;
  box-shadow: none;
}
.button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.input {
  border: none;
  outline: none;
  user-select: auto;
}

.back {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  position: fixed;
  top: 20px;
  left: 20px;
  line-height: 60px;
  text-align: center;
  .icon-back {
    color: #FFFFFF;
  }
}
